body {
    background-color: rgba(226, 226, 226, 0.27);
}

a {
    text-decoration: none !important;
}

/**
* Navbar Style
 */
.navbar {
    border-radius: 0px;
    margin-bottom: 50px;
}

.navbar .navbar-brand {
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 0.4;
    background-color: #3b0064;

}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:hover span {
    background-color: #2e6da4;
    color: #ffffff;
}

.navbar-brand span {
    color: #3884c6;
    font-size: 33px;
    text-transform: lowercase;
    font-family: monospace;
}

.navbar .navbar-right {
    margin-right: 12px;
}

/**
* years page Style
 */
.years a {
    margin-bottom: 20px;
    width: 80px;
    height: 45px;
    border-color: #2e6da4;
    background-color: rgba(245, 245, 245, 0);
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
}

/*
* create Subject Page
*/
.create-subject .row {
    margin-bottom: 20px;
    width: 60%;
}

/*for Images*/
.create-subject .row .img-class {
    width: 100%;
}

/*
    for index page - Subject
 */
.index-subject a {
    text-decoration: none;
}

.index-subject h3 {
    font-weight: 600;
    font-size: 20px;

}

.index-subject #Control-subjects {
    margin-top: 0px;
    margin-bottom: 60px;
}

.index-subject #Control-subjects {
    border-bottom: 1px solid #ababab;
}

.index-subject #Control-subjects a {
    margin-right: 20px;
}

/*
for authentication Pages
*/
.authentication .box {
    width: 450px;
    height: 350px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 7px 7px 2px #888888;
    padding-top: 80px;
    border-radius: 5%;
    position: relative;

}

.authentication .box form input {
    margin: 0 auto 20px;
    width: 80%;
}

.authentication .box img {
    position: absolute;
    top: -39px;
    left: 42%;
}

/*
    Register page
*/
.register .box {
    height: 435px;
}

.register .box img {
    width: 80px;
    height: 80px;
}

.register .box p {
    margin: -16px 0 14px 0;
}

.register .box a {
    margin-top: 10px;
    text-transform: capitalize;
}

/*Article Page*/
.article-content .page-header {
    color: #390049;
    border-bottom: 1px solid #390049;
}

.article-content .attachment {
    margin-top: 100px;
}

.article-content #body p {
    text-indent: 30px;
    margin: 0 2% 0 3%;
    text-transform: capitalize;
    color: #390049;
    font-size: 16px;
    line-height: 1.9;
}

.article-content .attachment {
    margin-bottom: 50px;
}

.article-content .comment {
    margin-bottom: 150px;
}

.article-content .attachment h1 {
    text-indent: 10px;
}

.article-content .attachment #attachment-icon {
    text-indent: 20px;
    vertical-align: bottom;
}

.article-content .attachment .files div {
    margin-bottom: 25px;
}

.article-content .attachment .files div a,
.article-content .attachment .files div img {
}

.article-content .attachment .files img:hover {
    background-color: #e6e6e6;
    border-radius: 17%;
}

.article-content .comment .comment-box {
    margin-left: 2%;
    margin-right: 10%;
    text-indent: 40px;
    width: 70%;
    font-size: 16px;
    line-height: 1.9;
    box-shadow: 3px 3px 10px 3px #888888;
    border-radius: 6px;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.87);
    color: #000;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.article-content .comment .comment-box p {
    text-indent: 5%;
}

.article-content .comment .comment-box h5,
.article-content .comment .comment-box textarea,
.article-content .comment .comment-box p {
    text-transform: capitalize;
}
.article-content .comment .comment-box textarea{
    width: 90%;
    height: 150px;
}

.article-content .comment .comment-box h5{
    text-indent: 10px;
    border-bottom: 1px solid rgba(8, 0, 49, 0.92);
    width: 90%;
    margin-left: 3%;
    padding-bottom: 13px
}

/*Index Article*/
.index-article #NewArticleButton {
    color: #390049;
    border-bottom: 1px solid #390049;
    margin-top: 0px;
    margin-bottom: 80px;
}

/*Create Article*/
.create-article .page-header {
    color: #390049;
    border-bottom: 1px solid #390049;
}

.create-article input {
    margin-bottom: 20px;
}

.create-article {
    padding-bottom: 50px;
}

.create-article .CreateArticleButton {
    margin-top: 60px;
}

/*Search Style*/

.search-box {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 34px;
    padding-right: 0px;
    padding-left: 0px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c8c8c8

}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

#user-id {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-transform: uppercase;
    margin-top: 10px;
}

#user-id span {
    font-size: 34px;
    line-height: 87px;
    width: 90px;
    height: 90px;
    color: #FFFFFF;
}